$black: rgba(0, 0, 0, .73);
$navy: navy;
$antiquewhite: antiquewhite;

$lightgrey: rgba(212, 212, 212, .5);
$grey: rgba(202, 202, 202, .88); //rgba(lightgrey, .88)
$white: rgba(255, 255, 255, .88);


$primary_color: $black;
$secondary_color: $white;
$tertiary_color: dodgerblue;
