@import 'scss/variables';

@import 'scss/cv';
@import 'scss/book';
@import 'scss/music';

@import 'components/movements/movements';
@import 'components/progress/progress';

@import '../assets/fonts/cvset/cvset';

body, html {
  height: auto;
  margin: 0;
  box-sizing: border-box;
  font-family: 'futura-pt', 'Futura PT', 'Futura', sans-serif;
  font-stretch: normal;
  color: $primary_color;
  background-color: $secondary_color;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.page_wrap {
  overflow-x: hidden;
}

////////
// KEYFRAMES
////////

@keyframes turntable_turn_on {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(120deg);
  }
}
@keyframes turntable_running {
  from {
    transform: rotate(120deg);
  }
  to {
    transform: rotate(920deg);
  }
}
@keyframes turntable_turn_off {
  from {
    transform: rotate(920deg);
  }
  to {
    transform: rotate(1440deg);
  }
}
@keyframes turntable_arm_move {
  from {
    fill: rgba(0,0,0,0.73);
    transform: rotate(0deg);
    mix-blend-mode: unset;
  }
  to {
    fill: rgba(0,0,0,0.73);
    transform: rotate(26deg);
    mix-blend-mode: multiply;
  }
}
@keyframes turntable_arm_placed {
  from {
    fill: rgba(0,0,0,0.73);
    mix-blend-mode: multiply;
  }
  to {
    fill: rgba(0,0,0,0.73);
    mix-blend-mode: multiply;
  }
}
@keyframes turntable_arm_return {
  from {
    fill: rgba(0,0,0,0.73);
    transform: rotate(26deg);
    mix-blend-mode: multiply;
  }
  to {
    fill: rgba(0,0,0,0.73);
    transform: rotate(0deg);
    mix-blend-mode: unset;
  }
}
@keyframes turntable_vinyl_notch_show {
  from {
    fill: rgba(255, 255, 255, 0);
  }
  to {
    fill: rgba(255, 255, 255, 1);
  }
}
@keyframes turntable_vinyl_notch_showing {
  from {
    fill: rgba(255, 255, 255, 1);
  }
  to {
    fill: rgba(255, 255, 255, 1);
  }
}
@keyframes turntable_vinyl_notch_hide {
  from {
    fill: rgba(255, 255, 255, 1);
  }
  to {
    fill: rgba(255, 255, 255, 0);
  }
}
@keyframes turntable_monogram_hide {
  from {
    stroke: rgba(255, 255, 255, 1);
  }
  to {
    stroke: rgba(255, 255, 255, 0);
  }
}
@keyframes turntable_monogram_hidden {
  from {
    stroke: rgba(255, 255, 255, 0);
  }
  to {
    stroke: rgba(255, 255, 255, 0);
  }
}
@keyframes turntable_monogram_show {
  from {
    stroke: rgba(255, 255, 255, 0);
  }
  to {
    stroke: rgba(255, 255, 255, 1);
  }
}

////////
// TYPOGRAPHY
////////

h4, h5, h6 {
  margin: 0;
}
.lightweight {
  font-weight: 400;
}
a {
  color: $primary_color;
  font-size: .83em;
  font-weight: 600;
  text-decoration: none;
  padding-bottom: .5vmin;
  border-bottom: 2pt solid $primary_color;
  transition-property: color, border-bottom-color;
  transition: .24s ease;
  &:hover,
  &:active {
    cursor: pointer;
    color: $tertiary_color;
    border-bottom-color: $tertiary_color;
  }
  &:visited {
    color: $primary_color;
  }
}


////////
// LAYOUT STYLES
////////

.inline_block {
  display: inline-block;
}


////////
// TURNTABLE
////////

.turntable {
  display: flex;
  width: 50vw;
  height: 100vh;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  &.turntable-on {
    svg#turntable {
      position: relative;
      width: 100%;
      height: auto;
      //max-height: 36vmin;
    }
    svg#turntable .st1 {
      stroke: rgba(0, 0, 0, 0.73);
    }
    svg#turntable g#vinyl {
      animation: turntable_turn_on 1s ease-in, turntable_running 4s linear;
      animation-delay: 0s, 1s;
      transform-origin: 50% 50%;
    }
    svg#turntable g#vinyl circle#turntable_vinyl_notch {
      animation: turntable_vinyl_notch_show 4s ease-in, turntable_vinyl_notch_showing 60s infinite linear;
      animation-delay: .833s, 4.833s;
    }
    svg#turntable g#vinyl path#monogram {
      animation: turntable_monogram_hide 4s ease-in, turntable_monogram_hidden 60s infinite linear;
      animation-delay: .833s, 4.833s;
    }
    svg#turntable path#turntable_arm {
      animation: turntable_arm_move 4s ease-in-out, turntable_arm_placed 60s infinite linear;
      animation-delay: .833s, 4.833s;
      transform-origin: 80.3% 20.4%;
    }
  }
  &.turntable-off {
    svg#turntable g#vinyl {
      animation: turntable_turn_off 4s ease-out;
      animation-delay: 0s;
      transform-origin: 50% 50%;
    }
    svg#turntable g#vinyl circle#turntable_vinyl_notch {
      animation: turntable_vinyl_notch_hide 4s ease-out;
      animation-delay: 0s;
    }
    svg#turntable g#vinyl path#monogram {
      animation: turntable_monogram_show 4s ease-out;
      animation-delay: 0s;
    }
    svg#turntable path#turntable_arm {
      animation: turntable_arm_return 4s ease-in-out;
      animation-delay: 0.833s;
      transform-origin: 80.3% 20.4%;
    }
  }
}



////////
// LAYOUT ELEMENTS
////////

#page {
  max-width: 56em;
  min-height: 100vh;
  margin: 0 auto;
  padding: 8vmin;
  transition-property: margin, min-height;
  transition: .33s ease-in-out;
  @media screen and (min-width: 900px) {
    margin: $lg-font auto;
    min-height: calc(100vh - #{$lg-font * 2});
  }
}

hr {
  border: 1pt solid transparent;
  margin: 6vmin 0;
}

section {
  position: relative;
  display: block;
  width: 100%;
  max-width: 56em;
  margin: 12vmin 0;
  padding-top: 6vmin;
  border-top: 2pt solid $primary_color;
  border-bottom: 2pt solid $primary_color;
  & + & {
    border-top: none;
    margin-top: 0;
  }
  &:nth-last-of-type(2) {
    margin-bottom: 0;
  }
  &:last-of-type {
    padding-bottom: 6vmin;
  }
}

nav {
  z-index: 400;
  position: fixed;
  display: block;
  width: auto;
  margin: 0;
  padding: 0;
  bottom: $lg-font;
  right: $lg-font;
}

svg.defs {
  display: none;
}

////////
// COMPONENTS
////////

button {
  -webkit-appearance: none;
  appearance: none;
}

button.learn_more {
  width: auto;
  height: auto;
  margin: 12pt auto 0;
  padding: 6pt 12pt;
  border: 0;
  background-color: $primary_color;
  transition: background-color .33s ease-in-out;
  color: $secondary_color;
  &:hover {
    background-color: $tertiary_color;
    color: $secondary_color;
  }
}
button.nav {
  width: auto;
  height: auto;
  margin: 0;
  padding: 6pt 12pt;
  border: 0;
  background-color: rgba($primary_color, .4);
  transition: background-color .33s ease-in-out;
  color: $secondary_color;
  mix-blend-mode: multiply;
  &:hover {
    background-color: $tertiary_color;
    color: $secondary_color;
    mix-blend-mode: multiply;
  }
}
.button_group {
  display: flex;
  width: auto;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
  margin: 12pt auto 0;
  button {
    margin: 0;
  }
  button + button {
    margin-left: $med-font;
  }
}

////////
// SPLASH PAGE
////////

#page.splash {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  header,
  main {
    flex: 0 0 auto;
    display: block;
  }
  header {
    .turntable {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      height: 24vmin;
      min-height: 72pt;
      svg#turntable {
        position: relative;
        left: auto;
        padding-bottom: $lg-font;
      }
    }
    h1, h2 {
      text-align: center;
    }
  }

}
